
<ul>
    <li>
        <p>
            2022 - 2026
        </p>
        <h3 class="font-bold">
            Holy Angel University 
        </h3>
        <p>
            Bachelor of Science in Information Technology with area specialization in Web Development
        </p>
    </li>
    <li>
        <p>
            2020 - 2022
        </p>
        <h3 class="font-bold">
            Mabalacat Institute Inc.
        </h3>
        <p>
            Science, Technology, Engineering, and Mathematics
        </p>
    </li>
    <li>
        <p>
            2016 - 2020
        </p>
        <h3 class="font-bold">
            
            Holy Rosary Academy
        </h3>
        <p>
            Junior High School
        </p>
    </li>
    <li></li>
</ul>