<ul>
    <li class="mb-2">
        <h6 class="font-bold">Medica Pharmacy E-Commerce Website</h6>
        <p>Full Stack Web Developer</p>
    </li>
    <li class="mb-2">
        <h6 class="font-bold">Exquisite Dream Events Photo Gallery Website</h6>
        <p>Designer and Frontend Developer</p>
    </li>
    <li class="mb-2">
        <h6 class="font-bold">Akaru Book Management Website</h6>
        <p>UI/UX Designer and Frontend Developer</p>
    </li>
    <li class="mb-2">
        <h6 class="font-bold">Crown Residence Real Estate Website</h6>
        <p>Frontend Developer</p>
    </li>
</ul>